body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 53, 252);
}

h1
{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Special Elite', cursive;
}

span::before
{
    content: '';
    animation: word-swith 3s infinite;
}

@keyframes word-swith 
{
    0% {content: '🌎'}

    50%{content: '💉';}

    100%{content: '👽';}
}